* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* LOGIN PAGE */

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 25px;
}

.login-box label {
  display: block;
  margin-top: 10px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* STUDENT PAGE */

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  width: 100px;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.student-form {
  width: 500px;
  margin: 30px auto;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.student-form h2 {
  text-align: center;
}

.student-form label {
  display: block;
  margin-top: 10px;
}

.student-form input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.student-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* STUDENT LIST */

.student-list {
  width: 80%;
  margin: 30px auto;
}

.student-card {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}